<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Car info</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
</head>
<body>
  <h1 th:text="${car.model}"></h1>
  <div class="d-flex"><p>- Manufacture: </p>&nbsp;&nbsp;<p th:text="${car.manufacture}"></p><br></div>
  <div class="d-flex"><p>- Price:</p>&nbsp;&nbsp;<p th:text="${car.price}"></p><br></div>
  <div class="d-flex"><p>- Sale:</p>&nbsp;&nbsp;<p th:text="${car.sale}"></p><br></div>
  <img th:attr="src=@{'/images/'+${car.photo}},alt=${car.model}" ><br>
  <a th:href="@{/car/edit/{id}(id=${car.id})}">Edit Car</a>&nbsp;&nbsp;
  <a th:href="@{/car/delete/{id}(id=${car.id})}">Delete Car</a><br>
</body>
<script src="/vendor/jquery/jquery-3.4.1.min.js"></script>

<!-- Popper.js -->
<script src="/vendor/popper/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</html>