<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Car submit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
</head>
<body>
  <form style="width:100%;" action="#" th:action="@{/car/save}" th:object="${car}" method="post" enctype="multipart/form-data"
          novalidate="novalidate">
      <div class="mb-1" style="display:grid; grid-template-columns: 10% 90%;">
          <div class="d-flex align-items-end"><p>- Model: </p></div>
          <input style="width:20%;" type="text" placeholder="model" th:field="*{model}"/>
      </div>
      <div class="mb-1" style="display:grid; grid-template-columns: 10% 90%;">
          <div class="d-flex align-items-end"><p>- Manufacture: </p></div>
          <input style="width:20%;" type="text" placeholder="manufacture" th:field="*{manufacture}"/>
      </div>
      <div class="mb-1" style="display:grid; grid-template-columns: 10% 90%;">
          <div class="d-flex align-items-end"><p>- Price: </p></div>
          <input style="width:20%;" type="text" placeholder="price" th:field="*{price}"/>
      </div>
      <div class="mb-1" style="display:grid; grid-template-columns: 10% 90%;">
          <div class="d-flex align-items-end"><p>- Sale: </p></div>
          <input style="width:20%;" type="text" placeholder="sale" th:field="*{sale}"/>
      </div>
      <br>
      <input style="width:20%;" type="hidden" placeholder="id" th:field="*{id}"/>

      <button type="submit">Save</button>
  </form>
</body>
</html>