<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro Blog - Login</title>
</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/create}" th:object="${user}" method="post">
    <label for="">Fullname</label><br>
    <input type="text" placeholder="Fullname" th:field="*{fullname}"/><br><br>
    <label for="pass">Email</label><br>
    <input type="text" placeholder="Email" th:field="*{email}"/><br><br>
    <label for="pass">Password (3 characters minimum):</label><br>
    <input type="password" placeholder="Password" th:field="*{password}"/><br><br>
    <button type="submit">Create</button>
</form>
<p th:text="*{errorMessage}">Error Message</p>
<a href="/login">Back to login page</a>
</body>
</html>