th,td{
    display:flex;
    border:1px solid black;
    justify-content:center;
    align-items:center;
}

a:hover{
    text-decoration:none !important;
    color:black !important;
}

*{
margin:0;
padding:0;
}

body{
    font-size:20px !important;
}
tr{
    display:grid;
    grid-template-columns:5% 15% 20% 10% 10% 40%;
}