<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="container">
<div class="d-flex justify-content-between">
  <h1 th:text="'Post của'+ ${user.fullname}"></h1>
  <a href="/logout">Logout</a>
</div>
<form th:action="@{/write}" method="post" th:object="${post}">
  <table>
  <tr>
    <td><p>Title:</p></td>
    <td><input type="text" th:field="*{title}"></td>
  </tr>
  <tr>
    <td><p>Content:</p></td>
    <td><textarea type="text" th:field="*{content}"></textarea></td>
  </tr>
  <input type="hidden" th:field="*{id}"><br>
    <tr>
      <td>Tagname</td>
      <td><th:block th:each="tagname:${Tags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tagname.name}">
        <label th:text="${tagname.name}"></label>
      </th:block></td>
    </tr>
  </table>
  <button type="submit">Submit</button>
</form>

</body>
</html>