<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-flex justify-content-center">
<form th:if="${checkMail}==false" th:action="@{/addpass}" method="post" th:object="${User}">
    <input type="text" placeholder="Nhap Email" th:field="*{email}">
    <button type="submit"></button>
</form>
<form th:if="${checkMail}==true" th:action="@{/newpass}" method="post" th:object="${User1}">
    <p>Nhap pass moi</p>
    <input type="hidden" th:field="*{Fullname}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{id}">
<!--    <input type="hidden" th:field="*{roles}">-->
<!--    <input type="hidden" th:field="*{events}">-->
    <input type="password" placeholder="Nhap password" th:field="*{password}">
    <button type="submit"></button>
</form>
</div>
</body>
</html>