<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head"></head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Login</h1>
      <form action="#" th:action="@{/perform_login}" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" placeholder="email" name="username" class="form-control" id="email" required autofocus/>
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label">Password</label>
          <input type="password" placeholder="Password" name="password" class="form-control" id="pass"/>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<!--      <p th:text="*{errorMessage}">Error Message</p>-->
      <a href="/register">Chưa có tài khoản, muốn đăng ký</a>
    </div>
  </div>
</div>
</body>
</html>